<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New hilti import</h1>

  <%= render "form", hilti_import: @hilti_import %>

  <%= link_to "Cancel", hilti_imports_path(import_project_id: @hilti_import.import_project), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
