<div id="<%= dom_id import_project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Label:</strong>
    <%= import_project.label %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Organisation:</strong>
    <%= import_project.organisation_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Organisation:</strong>
    <%= import_project.organisation_id %>
  </p>

</div>
