<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing import project</h1>

  <%= render "form", import_project: @import_project %>

  <%= link_to "Show this import project", @import_project, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to import projects", import_projects_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this import project", @import_project, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </div>
</div>
