<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing floor plan</h1>

  <%= render "form", floor_plan: @floor_plan %>

  <%= link_to "Show this floor plan", @floor_plan, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to hilti import", @floor_plan.hilti_import, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
